<section id="home-section">
  <h1>Angular Pits Collection</h1>

  <div class="link-container">
    <ul>
      <li [routerLink]="'/asyncPipe'">Async Pipe</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
      <li [routerLink]="''">---</li>
    </ul>
  </div>
</section>
